.SuperBanner {
  background-color: $Color1;
  margin-top: 112px;
  min-height: calc(100vh - 112px);
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/superbanner-montagem.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center right;
  .SuperBanner_Container {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 90%;
    width: 1200px;
    .SuperBanner_Container_Content {
      max-width: 480px;
    }
    .Container_Content_Titulo {
      color: $Color3;
      font-family: "Patua One", sans-serif;
      font-size: 64px;
      line-height: 72px;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: inherit;
      margin: inherit;
      &:after {
        content: " ";
        display: block;
        width: 104px;
        height: 4px;
        margin-top: 24px;
        margin-bottom: 32px;
        background-color: #e5e5e5;
      }
    }
    .Container_Content_Subtitulo {
      color: $Color3;
      font-size: 32px;
      line-height: 40px;
      font-weight: 300;
      display: block;
      .Content_Subtitulo_Destaque {
        color: $Color2;
        font-weight: 700;
      }
    }
    .Container_Content_Button {
      color: $Color1;
      background-color: $Color2;
      @extend %Hover;
      margin-top: 40px;
      border: none;
      padding: 16px 24px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
      &:hover {
        background-color: $Color3;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .SuperBanner {
    &:after{
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
      background-color: #ffffffd6;
      z-index: 2;
    }
  }
}

@media screen and (max-width: 640px) {
  .SuperBanner {
    padding-top: 104px;
    min-height: calc(100vh - 72px);
    .SuperBanner_Container {
      .SuperBanner_Container_Content{
        .Container_Content_Titulo{
          font-size: 56px;
          line-height: 64px;
          margin-bottom: 32px;
          &:after{
            display: none;
          }
        }
        .Container_Content_Subtitulo{
          font-size: 32px;
          line-height: 40px;
        }
      }
    }
  }
}